@import '../../../styles/variables';

.carousel-img {
	width: 100%;
	margin: 0 0 0 auto;
	border-radius: 0.75rem;
}

.btn-group {
	display: flex;
}

.pagination {
	text-align: center;
	margin-top: $spacing-md;
}
