@import '../../../styles/variables';

.about-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: $spacing-xxl;
}

.about-img {
	width: 100%;
	&-container {
		display: flex;
		justify-content: center;
	}
}

.stats-container {
	display: flex;
	flex-direction: row;
}
