/***** COLOR *****/
$color-primary-dark: #5a43cb;
$color-primary: #6e57e0;
$color-primary-light: #c1b6fc;
$color-text: #6d6a7c;
$color-text-light: #a19fad;
$color-background: #fbfbfe;

$color-black: #242329;
$color-white: #fff;

/***** FONT FACE *****/
$font-family-primary: 'Poppins', sans-serif;

/***** FONT SIZE *****/
$font-html-default: 62.5%;

$font-size-body: 1.6rem;

/***** FONT WEIGHT *****/
$font-weight-reg: 400;

// ***** SPACING *****/
$spacing-sm: 3rem;
