@import '../../../styles/variables';

.top-sm {
	margin-top: $spacing-sm;
}

.right-sm {
	margin-right: $spacing-sm;
}

.btm-sm {
	margin-bottom: $spacing-sm;
}

.left-sm {
	margin-left: $spacing-sm;
}
