@import '../../../styles/variables';

.top {
	&-xs {
		margin-top: $spacing-xs;
	}

	&-sm {
		margin-top: $spacing-sm;
	}

	&-md {
		margin-top: $spacing-md;
	}

	&-xxl {
		margin-top: $spacing-xxl;
	}
}

.right {
	&-xs {
		margin-right: $spacing-xs;
	}

	&-sm {
		margin-right: $spacing-sm;
	}

	&-md {
		margin-right: $spacing-md;
	}

	&-xxl {
		margin-right: $spacing-xxl;
	}
}

.btm {
	&-xs {
		margin-bottom: $spacing-xs;
	}

	&-sm {
		margin-bottom: $spacing-sm;
	}

	&-md {
		margin-bottom: $spacing-md;
	}

	&-xxl {
		margin-bottom: $spacing-xxl;
	}
}

.left {
	&-xs {
		margin-left: $spacing-xs;
	}

	&-sm {
		margin-left: $spacing-sm;
	}

	&-md {
		margin-left: $spacing-md;
	}

	&-xxl {
		margin-left: $spacing-xxl;
	}
}
