@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './styles/variables';

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	scroll-behavior: smooth;
}

html {
	box-sizing: border-box;
	font-size: $font-html-default;
}

body {
	font-family: $font-family-primary;
	font-size: $font-size-body;
	font-weight: $font-weight-reg;
	color: $color-text;
	background-color: $color-background;
	width: 60%;
	margin: 0 auto;
}

#home,
#about,
#skills {
	padding-top: 22rem;
	margin-top: -22rem;
}
